<style>
.subject-card-body {
    max-height: 100px;
    overflow-y: auto;
    scrollbar-width: none;
}

.subject-card-body::-webkit-scrollbar {
    display: none;
}
</style>
<div class="content">
    <div class="card mt-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            {{title}}
        </div>

        <div class="card-body table-responsive">

            <table id="example" class="table table-bordered table-hover">
                <thead class="table-light">
                    {{thead}}
                </thead>

                <tbody>
                    {{tableRows}}
                </tbody>

            </table>

        </div>
    </div>
</div>

<div class="modal fade" id="subjectsModal" tabindex="-1">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">
                    Student Subjects
                </h5>

                <button class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <div class="row" id="subjectsCards">

                </div>

            </div>

        </div>

    </div>

</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>


    document.addEventListener("click", function (e) {

        if (!e.target.classList.contains("view-subjects")) return;

        let subjects = [];

        try {

            subjects = JSON.parse(
                e.target.getAttribute("data-subjects")
            );

        } catch (err) {

            console.log(err);

        }

        let html = "";

        if (subjects.length == 0) {

            html = `
        <div class="col-12">

            <div class="alert alert-warning">
                No Subjects Found
            </div>

        </div>
        `;

        } else {

            subjects.forEach(function (item, index) {

                html += `
            <div class="col-md-4 mb-3">

                <div class="card border-primary shadow">

                    <div class="card-body text-center">

                        <h6>
                            ${index + 1}. ${item}
                        </h6>

                    </div>

                </div>

            </div>
            `;

            });

        }

        document.getElementById("subjectsCards").innerHTML = html;

        const modal = new bootstrap.Modal(
            document.getElementById("subjectsModal")
        );

        modal.show();

    });


    $('#example tbody').on('click', '.receiptAction', function () {

        let id = $(this).data('id');
        let action = $(this).data('action');

        $.ajax({
            url: "/admin/admission-receipt-request-action",
            type: "POST",
            data: {
                id: id,
                action: action
            },
            success: function (res) {
                if (res.status) {
                    $("#row_" + id).remove();
                    toastr.success(
                        res.message
                    );
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                } else {
                    toastr.success(
                        res.message
                    );
                }
            }
        });
    });

    // $('#example tbody').on('click', '.SubjecttAction', function () {

    //     let id = $(this).data('id');
    //     let $btn = $(this);

    //     Swal.fire({
    //         title: 'Are you sure?',
    //         text: 'Do you want to approve this subject?',
    //         icon: 'warning',
    //         showCancelButton: true,
    //         confirmButtonColor: '#198754',
    //         cancelButtonColor: '#6c757d',
    //         confirmButtonText: 'Yes, Approve',
    //         cancelButtonText: 'Cancel'
    //     }).then((result) => {

    //         if (!result.isConfirmed) {
    //             return;
    //         }

    //         // Button disable + loading
    //         $btn.prop('disabled', true);
    //         $btn.html('<span class="spinner-border spinner-border-sm me-1"></span> Approving...');

    //         $.ajax({
    //             url: "/admin/approve-subjects",
    //             type: "POST",
    //             data: {
    //                 id: id,
    //             },
    //             success: function (res) {

    //                 if (res.status) {

    //                     toastr.success(res.message);

    //                     $btn
    //                         .removeClass('btn-success SubjecttAction')
    //                         .addClass('btn-secondary')
    //                         .html('<i class="bi bi-check-circle-fill"></i> Approved');

    //                     setTimeout(function () {
    //                         location.reload();
    //                     }, 1000);

    //                 } else {

    //                     toastr.error(res.message);

    //                     $btn.prop('disabled', false);
    //                     $btn.html('<i class="bi bi-check-circle"></i> Approve');
    //                 }
    //             },
    //             error: function () {

    //                 toastr.error("Something went wrong.");

    //                 $btn.prop('disabled', false);
    //                 $btn.html('<i class="bi bi-check-circle"></i> Approve');
    //             }
    //         });

    //     });

    // });

    $('#example tbody').on('click', '.SubjecttAction', function () {

        let id = $(this).data('id');
        let action = $(this).data('action');
        let $btn = $(this);

        let isApprove = action === 'approve';

        Swal.fire({
            title: isApprove ? 'Approve Request?' : 'Reject Request?',
            text: isApprove
                ? 'Do you want to approve this subject change?'
                : 'Do you want to reject this subject change?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: isApprove ? '#198754' : '#dc3545',
            confirmButtonText: isApprove ? 'Yes, Approve' : 'Yes, Reject'
        }).then((result) => {

            if (!result.isConfirmed) return;

            $btn.prop('disabled', true);

            $.ajax({
                url: "/admin/approve-subjects",
                type: "POST",
                dataType: "json",
                data: {
                    id: id,
                    action: action
                },
                success: function (res) {


                    if (res.status) {
                        toastr.success(res.message);

                        setTimeout(() => {
                            location.reload();
                        }, 1000);

                    } else {
                        toastr.error(res.message);
                        $btn.prop('disabled', false);
                    }
                },
                error: function () {
                    toastr.error("Something went wrong.");
                    $btn.prop('disabled', false);
                }
            });
        });
    });

    

    $('#example tbody').on('click', '.ClassChangetAction', function () {

        let id = $(this).data('id');
        let action = $(this).data('action');
        let $btn = $(this);

        let isApprove = action === 'approve';

        Swal.fire({
            title: isApprove ? 'Approve Request?' : 'Reject Request?',
            text: isApprove
                ? 'Do you want to approve this class change?'
                : 'Do you want to reject this class change?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: isApprove ? '#198754' : '#dc3545',
            confirmButtonText: isApprove ? 'Yes, Approve' : 'Yes, Reject'
        }).then((result) => {

            if (!result.isConfirmed) return;

            $btn.prop('disabled', true);

            $.ajax({
                url: "/admin/approve-change-class",
                type: "POST",
                dataType: "json",
                data: {
                    id: id,
                    action: action
                },
                success: function (res) {


                    if (res.status) {
                        toastr.success(res.message);

                        setTimeout(() => {
                            location.reload();
                        }, 1000);

                    } else {
                        toastr.error(res.message);
                        $btn.prop('disabled', false);
                    }
                },
                error: function () {
                    toastr.error("Something went wrong.");
                    $btn.prop('disabled', false);
                }
            });
        });
    });


    $('#example tbody').on('click', '.Parkingremove', function () {

    let id = $(this).data('id');
    let action = $(this).data('action');
    let $btn = $(this);

    let isApprove = action === 'approve';

    Swal.fire({
        title: isApprove ? 'Approve Parking Request?' : 'Reject Parking Request?',
        text: isApprove
            ? 'Do you want to approve this parking removal request?'
            : 'Do you want to reject this parking removal request?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: isApprove ? '#198754' : '#dc3545',
        confirmButtonText: isApprove ? 'Yes, Approve' : 'Yes, Reject',
        cancelButtonText: 'Cancel'
    }).then((result) => {

        if (!result.isConfirmed) return;

        $btn.prop('disabled', true);

        $.ajax({
            url: "/admin/approve-parking",
            type: "POST",
            dataType: "json",
            data: {
                id: id,
                action: action
            },

            success: function (res) {

                if (res.status) {

                    toastr.success(res.message);

                    setTimeout(() => {
                        location.reload();
                    }, 1000);

                } else {

                    toastr.error(res.message);
                    $btn.prop('disabled', false);

                }
            },

            error: function () {

                toastr.error("Something went wrong.");
                $btn.prop('disabled', false);

            }
        });
    });
});


</script>