<style>

</style>

<div class="content">
    <div class="card mt-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            {{title}}
        </div>

        <div class="card-body table-responsive">

            <table id="example" class="table table-bordered table-hover">
                <thead class="table-light">
                    {{thead}}
                </thead>

                <tbody>
                    {{tableRows}}
                </tbody>

            </table>

        </div>
    </div>
</div>


