<body>
    <div class="container py-4">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{{title}}</h4>
            </div>
            <div class="card-body">
                <table id="example" class="table table-striped table-hover table-bordered">
                    <thead>
                        {{thead}}
                    </thead>
                    <tbody>
                        {{tableRows}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
