<div class="content">

    <h3 class="mb-4">{{header}}</h3>

    <div class="row g-3">

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <h5>Email</h5>
                <h2>{{user.email}}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <h5>Student ID</h5>
                <h2>{{user.student_id}}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <h5>Mobile</h5>
                <h2>{{user.mobile}}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <h5>Name</h5>
                <h2>{{user.first_name}} {{user.last_name}}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <h5>Course</h5>
                <h2>{{user.course}}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <h5>Semester</h5>
                <h2>{{user.semester}}</h2>
            </div>
        </div>

    </div>

</div>