<style>
    .subject-card-body {
        max-height: 100px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .subject-card-body::-webkit-scrollbar {
        display: none;
    }
</style>
<div class="content">
    <div class="card mt-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            {{title}}
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="example">
                <thead>
                    {{thead}}
                </thead>
                <tbody>
                    {{tableRows}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="subjectsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Student Subjects
                </h5>
                <button class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <div class="row" id="subjectsCards">

                </div>

            </div>

        </div>

    </div>

</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>

    document.addEventListener("click", function (e) {

        if (!e.target.classList.contains("view-subjects")) return;

        let subjects = [];

        try {

            subjects = JSON.parse(
                e.target.getAttribute("data-subjects")
            );

        } catch (err) {

            console.log(err);

        }

        let html = "";

        if (subjects.length == 0) {

            html = `
        <div class="col-12">

            <div class="alert alert-warning">
                No Subjects Found
            </div>

        </div>
        `;

        } else {

            subjects.forEach(function (item, index) {

                html += `
            <div class="col-md-4 mb-3">

                <div class="card border-primary shadow">

                    <div class="card-body text-center">

                        <h6>
                            ${index + 1}. ${item}
                        </h6>

                    </div>

                </div>

            </div>
            `;

            });

        }

        document.getElementById("subjectsCards").innerHTML = html;

        const modal = new bootstrap.Modal(
            document.getElementById("subjectsModal")
        );

        modal.show();

    });

    $('#example tbody').on('click', '.RemoveParking', function () {

        let id = $(this).data('id');
        let $btn = $(this);

        Swal.fire({
            title: 'Remove Parking?',
            text: 'Do you want to remove parking for this student?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Yes, Remove'
        }).then((result) => {

            if (!result.isConfirmed) return;

            $btn.prop('disabled', true);

            $.ajax({
                url: "{{CONSTANTS.role}}remove-parking",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (res) {

                    if (res.status) {

                        toastr.success(res.message);

                        setTimeout(() => {
                            location.reload();
                        }, 1000);

                    } else {

                        toastr.error(res.message);
                        $btn.prop('disabled', false);

                    }
                },
                error: function () {

                    toastr.error("Something went wrong.");
                    $btn.prop('disabled', false);

                }
            });
        });
    });
    function Parkingpopup() {
        Swal.fire({
            title: 'Request Pending',
            html: `Please Wait For Admin Approval`,
            icon: 'info',
            showCloseButton: true,
            focusConfirm: false,
            confirmButtonText: 'Close'
        });

    }

</script>